* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  max-height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 90%;
  margin: 80px auto 0 auto;
}

@media (max-width: 600) {
  .container {
    width: 100%;
  }
}

.signin {
  /* background-color: #00d8d6; */
  height: 100vh !important;
  display: flex;
  direction: column;
  align-items: center;
}

.signin>* {
  z-index: 999;
}

.signin::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.form-field {
  margin-bottom: 0.8rem !important;
}

.signin .form-button-field {
  margin-top: 1rem;
}

.signin .header {
  text-align: center;
  margin-bottom: 1rem;
}

.signin .title {
  margin-top: 0.5rem;
  margin-bottom: 0.4rem;
}

.signin .login-card {
  width: auto;
  padding: 1.0rem;
}

.signin .content-footer {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  direction: row;
  align-items: center;
  justify-content: space-between;
}

.signin .card-content img {
  width: 80px;
}

.signin-button {
  box-shadow: none !important;
  height: 58px;
  padding: 10px 30px;
}

.actions-item {
  padding: 0.5rem 0.5rem;
  display: flex;
  direction: row;
  align-items: center;
}

.actions-item span {
  margin-left: 9px;
}